.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}
.total-count {
  display: inline-flex;
  align-items: flex-start;
  justify-content:left;
  width: 300px;
  margin: 2px;
  font: 2em sans-serif;
}
.remain-count {
  display: inline-flex;
  align-items: flex-start;
  justify-content: right;
  width: 300px;
  margin: 2px;
  font: 1em sans-serif;
}

.left-section {
  display: flex;
  flex-grow: 3;
}

input {
  margin-right: 20px;
}
